.details {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px;
    font-size: 150%;
}
.details img {
    max-width: 400px;
    width: 100%;
    margin: 20px;
    height: 450px;
    object-fit: cover;
    display: block;
}

.box_detail {
    max-width: 500px;
    width: 100%;
    margin: 5px 20px;
}
.box_detail .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box_detail h2 {
    text-transform: uppercase;
    color: darkblue;
    letter-spacing: 2px;
    font-weight: 2rem;
}
.box_detail p {
    line-height: 1.5;
    margin: 10px 0;
    opacity: 0.8;
}
.box_detail .cart {
    background: #333;
    color: #fff;
    margin-top: 10px;
    padding: 10px 25px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
}